<div class="modal is-active">
  <div class="modal-background"></div>
  <div class="modal-content">
    <div class="box">
      <div class="columns">
        <div class="column is-narrow">
          <figure class="image">
            <img [src]="movie.poster" alt="Poster">
          </figure>
        </div>
        <div class="column">
          <div class="content">
            <div class="title is-4">{{ movie.title }}</div>
            <div class="subtitle is-6">{{ movie.release | date }}</div>
            <div class="is-flex is-align-items-center mb-16">
              <span class="tag is-primary is-rounded">{{ movie.rate / 10 | percent }}</span>
              <progress class="progress is-primary" [value]="movie.rate" max="10"></progress>
            </div>
            <p>{{ movie.overview }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button class="modal-close is-large" (click)="close.emit()"></button>
</div>
