// Font
$family-sans-serif: 'Ubuntu', sans-serif;

// Colors
$black: #222729;
$cyan: #3dbde3;
$blue: #042743;
$grey: #bbc2ca;
$grey-light: #efefef;

$primary: $cyan;

:root {
  --cyan: #{$cyan};
  --blue: #{$blue};
  --grey: #{$grey};
  --grey-light: #{$grey-light};
  --black-10: rgba(0,0,0,.1);
  --dark: #042743;
  --white: #ffffff;
}

// Text
$text: $blue;

// Input
$input-color: $black;
$input-border-color: $grey-light;
$input-hover-border-color: $grey-light;
$input-icon-color: $grey-light;
$input-icon-active-color: $black;
$input-focus-border-color: $grey-light;
$input-focus-box-shadow-color: bulmaRgba($grey-light, 0.25);

// Container
$container-max-width: 1080;

// Spacing
$spacing-values: ('24': 1.5rem);
