.banner {
  img {
    top: 0;
    left: 0;
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
}

.types {
  // display: inline-block;
  align-items: stretch;
  display: flex;
  font-size: 1rem;
  justify-content: space-between;
  overflow: hidden;
  overflow-x: auto;
  white-space: nowrap;
  border-radius: 2rem;

  .button {
    background-color: transparent;
    color: var(--blue);

    &.is-active {
      background-color: var(--cyan);
      color: var(--white);
    }
  }
}
