<!-- Begin: banner -->
<figure class="banner image is-flex is-align-items-center is-relative">
  <img class="is-absolute" src="./assets/images/banner-background.jpeg">
  <div class="container">
    <h1 class="title is-1 has-text-white">Welcome</h1>
    <p class="subtitle is-4 has-text-white">Millions of movies, TV shows and people to discover. Explore now.</p>
    <div class="field is-grouped">
      <p class="control is-expanded">
        <input class="input is-rounded is-medium" type="text" placeholder="Search for a movie, TV show and more">
      </p>
      <p class="control">
        <a class="button is-primary is-rounded is-medium">Search</a>
      </p>
    </div>
  </div>
</figure>
<!-- End: banner -->

<!-- Begin: Tabs -->
<div class="container pt-24">
  <div class="is-flex is-align-items-center">
    <div class="has-text-weight-bold is-5 mr-24">What’s popular</div>
    <div class="tabs has-background-light">
      <button class="button is-active is-rounded is-borderless is-shadowless">Streaming</button>
      <button class="button is-rounded is-borderless is-shadowless">On TV</button>
      <button class="button is-rounded is-borderless is-shadowless">For Rent</button>
      <button class="button is-rounded is-borderless is-shadowless">In Theathers</button>
    </div>
  </div>
</div>
<!-- End: Tabs -->
